@model List<Jorge_Estrada.Models.Producto>;
@{
    ViewData["Title"] = "Pagina Principal";
}
<h3 class="display-5">Listado de Productos</h3>
<div class="text-center">
    
    <table class="table table-bordered">
        <thead class="btn-dark">
            <tr>
                <th>Nombre Producto</th>
                <th>Descripcion</th>
                <th>Precio</th>
               
            </tr>
        </thead>
        <tbody>
            @{
                foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Nombreproducto</td>
                        <td>@item.Descripcion</td>
                        <td>@item.Precio</td>
                       
                    </tr>

                }


            }


        </tbody>
    </table>
</div>
<div>
<a class="btn btn-light" asp-area="" asp-controller="Home" asp-action="Get">Crear</a>

</div>